### **Python Basics**

### Printing, Variables, Arithmetic

In [ ]:
# Print
print('I already love Python')

print('There \nis more')

I already love Python
There
is more

In [ ]:
# Variables and assignment
a = 10
print(a)
b = 5
print(b)

10
5

In [ ]:
# Arithmetic
# Note variable values persist from previous cell
print(a + b)
print(b - a)
print(a * b)
print(b / a)

15
-5
50
0.5

In [ ]:
# Update
a = a + b
print(a)

15

In [ ]:
c = 4
d = 2

In [ ]:
#increment must be written in new code block
c  += d
print (c, type(c))
print(d, type(d))
print(c)

6 <class 'int'>
2 <class 'int'>
6

In [ ]:
# Increment
a += b
print(a)

20

### Types

In [ ]:
# Dynamically-inferred types
a = 10
print(type(a))
a = '10'
print(type(a))
a = 10.0
print(type(a))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
# Type-checking
a = 10
b = '5'
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#doing manual type conversion

a = 10
b = '20.3'
print (a+ float(b))

30.3

In [ ]:
# Manual type-conversion (string to int)
a = 10
b = '5'
night = ord('a') #ord prints out the ASCII character of an alphabet
print(ord('a') + int(b))
print(b, type(b))
night

102
5 <class 'str'>

97

In [ ]:
# Automatic type-conversion (int to float)
a = 10
print(type(a))
a += 5.0
print(a, type(a))

<class 'int'>
15.0 <class 'float'>

In [ ]:
# String "arithmetic" (actually concatenation)
a = 'Professor '
b = 'Widom'
print(a + b)
print(a + 'is good')

Professor Widom
Professor is good

### Conditional (If) Statements

In [ ]:
# If statements
# Unlike other languages, indentation is significant
a = 8
if a > 10:
    print(a, 'is greater than 10')
    if a >= 15:
        print(a, 'is also at least 15')
elif a > 5:
    print(a, 'is greater than 5 but not greater than 10')
else:
    print('no condition matched')
    print('so a is 5 or less')

In [ ]:
# my little practice :')
x = input('Enter number:')
y = int(x)
if y>5:
  y += 90
  print('The new number is greater than 95:', y )
  if y >120:
    print ('The new number is also greater than 120:', y)
else:
  print('The original number was smaller than 5 and 120. It is:', y )

### <font color = 'green'>**Your Turn**</font>

In [ ]:
# Write a program that starts with a number assigned to variable a.
# If the square of that number is 100 or greater,
# print the squared value and 'is big'.
# Otherwise if the square is 50 or greater,
# print the squared value 'is medium'.
# Otherwise just print 'too small to bother with'.
# Note: To obtain a value squared, use a*a or a**2
# Make sure to try different values for a
#
c = input('Enter a value: ')
a = int(c)
if (a**2)>100:
  print('is big')
elif (a**2)>50:
  print('is medium')
else:
  print('too small to bother with')

Enter a value: 5
too small to bother with

### Lists and For-Loops

In [ ]:
# List
a = [2, 4, 7, 9]
print(a)
print(type(a))
print(len(a))

[2, 4, 7, 9]
<class 'list'>
4

In [ ]:
a

[2, 4, 7, 9]

In [ ]:
# Iterate through a list
for x in a:
    print(x, 2 * x)

2 4
4 8
7 14
9 18

In [ ]:
# Access element by index (starts at zero)
print(a[1])
print(a[3])
# Try a[5]

4
9

In [ ]:
# Prefix, suffix, and section of list
# Prefix: Elements from the beginning up to index 2 (excluding index 2)
print(a[:2])
# Suffix: Elements from index 1 to the end
print(a[1:])
# Section: Elements from index 1 to index 3 (excluding index 3)
print(a[1:3])

[2, 4]
[4, 7, 9, 12, 14]
[4, 7]

In [ ]:
# Append to list, append means adding to the list
a.append(12)
a.append(14)
print(a)

[2, 4, 7, 9, 12, 14, 12, 14]

In [ ]:
# Combine two lists
a = a + [15, 20, 30]
print(a)

NameError: name 'a' is not defined

In [ ]:
#using
c = range(3,8)
print(c)
len(b)
b = [21,14,83,72,34]
print(range(len(b)))
index = 0
for x in b:
  print(x, index)
  index +=1

range(3, 8)

NameError: name 'b' is not defined

In [ ]:
#another way using range

for index in range(len(b)):
  number = b[index]
  print(index, number)

NameError: name 'b' is not defined

In [ ]:
class Solution(object):
    def twoSum(self, nums, target):
        self.nums = nums
        self.target = target

    def showindex(self):
      for index_x in range(len(self.nums)):
        x = self.nums[index_x]
        for index_y in range(index_x+1, len(self.nums)):
                y = self.nums[index_y]
                if((x+y)==self.target):
                  print(index_x,index_y)

obj1 = Solution()
obj1.twoSum(nums=[2,7,11,15], target=9)
obj1.showindex()

0 1

0 2

In [ ]:
# List elements can be of different types
a = [1, 'two', 3.0, [4,5,6]]
print(a)
print(type(a))
print(type(a[0]), type(a[1]), type(a[2]), type (a[3]))

[1, 'two', 3.0, [4, 5, 6]]
<class 'list'>
<class 'int'> <class 'str'> <class 'float'> <class 'list'>

### Dictionaries (key-value mappings)

In [ ]:
# Dictionary
a = {'name': 'Mary', 'age': 20, 'gender': 'F'}
print(a)
print(type(a))

{'name': 'Mary', 'age': 20, 'gender': 'F'}
<class 'dict'>

In [ ]:
# Look up value of element by key - most important feature!
print(a['age'])
print(a['gender'])
# also try a['gender'], a['salary']

20
F

In [ ]:
# Modify value
a['age'] = 21
print(a)

{'name': 'Mary', 'age': 21, 'gender': 'F'}

In [ ]:
# Iterating through a list of dictionaries
dlist = [{'name':'Mary', 'age':20}, {'name':'John', 'age':30},
         {'name':'Bill', 'age':10}, {'name':'Susan', 'age':40}]
for x in dlist:
    if x['age'] >= 30:
        print(x['name'], 'is old')
    if x['age'] < 20:
        print(x['name'], 'is young')

John is old
Bill is young
Susan is old

In [ ]:
# Add new key-value pair
a['salary'] = 100
print(a)

{'name': 'Mary', 'age': 21, 'gender': 'F', 'salary': 100}

### <font color = 'green'>**Your Turn**</font>

In [ ]:
# Here is a dataset of four items, represented as a list of
# dictionaries specifying each item's color and size
items = [{'color':'red', 'size':10}, {'color':'blue', 'size':3},
         {'color':'green', 'size':15}, {'color':'yellow', 'size':6}]
# Write code that prints the color of all items whose size
# is greater than threshold 'low' and less than threshold 'high'
# Note: In Python, use 'and' to combine conditions
low = 5
high = 11
#YOUR CODE HERE - only three lines needed, make sure to test other thresholds
for x in items:
  if(x['size']> low and x['size']<high):
    print(x['color'])

red
yellow

### Additional Features - Mostly Just FYI

#### User input

In [ ]:
a = input('Enter value 1: ')
b = input('Enter value 2: ')
print(a + b)
# Fix to do integer addition

Enter value 1: 1
Enter value 2: 2
12

#### While loops

In [ ]:
# Echo user input, 'quit' to end
i = input('Enter any string, or "quit" to stop: ')
while i != 'quit':
    print(i)
    i = input('Enter any string, or "quit" to stop: ')
print('Done')
# Change to while True and break

Enter any string, or "quit" to stop: string
string
Enter any string, or "quit" to stop: QUIT
QUIT
Enter any string, or "quit" to stop: quit
Done

In [ ]:
#while true and break go in pairs
while True:
  i = input('Enter a string or write quit: ')
  if i == 'quit':
    break
  print(i)

print('Done')



print(i)

Enter a string or write quit: hello
hello
Enter a string or write quit: quit
Done
quit

#### Infinite while loop

In [ ]:
# Try not 'quit' then try 'quit', Runtime > interrupt
i = input('Enter any string, or "quit" to stop: ')
while True:
    if i != 'quit':
      print(i)
print('Done')

KeyboardInterrupt: Interrupted by user

In [ ]:
# Try not 'quit' then try 'quit', Runtime > interrupt
i = input('Enter any string, or "quit" to stop: ')
while i=='quit':
  print('Done')
  break
print(i)

Enter any string, or "quit" to stop: quit
Done
quit

#### Functions

In [ ]:
# Create a function with no arguments or return value
def simple():
    print('This function has no arguments or return value')

In [ ]:
# Call the function five times
for i in [1,2,3,4,5]:
    simple()

This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value

In [ ]:
# Create a function with arguments and a return value
def addthem(a, b):
    return a + b

In [ ]:
# Call the function five times
for i in [1,2,3,4,5]:
    print(i, i+1, addthem(i,i+1))

1 2 3
2 3 5
3 4 7
4 5 9
5 6 11